#hero-1{
    background-image: url('../assets/555496.png');
    background-size: cover;
    height: 100vh;
}

#hero-2{
    background-image: url('../assets/858608.jpg');
    background-size: cover;
    height: 100vh;
}

#hero-3{
    background-image: url('../assets/860206.jpg');
    background-size: cover;
    height: 100vh;
}

#hero-4{
    background-image: url('../assets/941221.jpg');
    background-size: cover;
    height: 100vh;
}

#hero-5{
    background-image: url('../assets/769896.png');
    background-size: cover;
    height: 100vh;
}

#hero-6{
    background-image: url('../assets/860206.jpg');
    background-size: cover;
    height: 100vh;
}

#hero-7{
    background-image: url('/Multipage-Website-2/DeonMAC/BattleNetworkBanner.jpg');
    background-size: cover;
    height: 100vh;
}

#hero-8{
    background-image: url('/Multipage-Website-2/DeonMAC/DissidiaCast.png');
    background-size: cover;
    height: 100vh;
}

#hero-9{
    background-image: url('/Multipage-Website-2/DeonMAC/GuiltyBanner1.jpeg');
    background-size: cover;
    height: 100vh;
}
#hero-10{
    background-image: url('/Multipage-Website-2/DeonMAC/StarForce3Banner.jpg');
    background-size: cover;
    height: 100vh;
}
.hero-content{
    position: absolute;
    color: whitesmoke;
    bottom: 20px;
    right: 20px;
}