#hero-1{
    background-image: url('../assets/555496.png');
    background-size: cover;
    height: 100vh;
}

#hero-2{
    background-image: url('../assets/858608.jpg');
    background-size: cover;
    height: 100vh;
}

#hero-3{
    background-image: url('../assets/860206.jpg');
    background-size: cover;
    height: 100vh;
}

#hero-4{
    background-image: url('../assets/941221.jpg');
    background-size: cover;
    height: 100vh;
}

#hero-5{
    background-image: url('../assets/769896.png');
    background-size: cover;
    height: 100vh;
}

#hero-6{
    background-image: url('../assets/900718.jpg');
    background-size: cover;
    height: 100vh;
}

#hero-7{
    background-image: url('/DeonMAC/BattleNetworkBanner.jpg');
    background-size: cover;
    height: 100vh;
}

#hero-8{
    background-image: url('/DeonMAC/dissidiabanner2.jpg');
    background-size: cover;
    height: 100vh;
}

#hero-9{
    background-image: url('/DeonMAC/GuiltyBanner1.jpeg');
    background-size: cover;
    height: 100vh;
}
#hero-10{
    background-image: url('/DeonMAC/StarForce3Banner.jpg');
    background-size: cover;
    height: 100vh;
}

#hero-11{
    background-image: url('/assets/843016.jpg');
    background-size: cover;
    height: 100vh;
}
.hero-content{
    position: absolute;
    color: whitesmoke;
    bottom: 20px;
    right: 20px;
}

h1{text-align: center;}

.carousel{
    justify-content: baseline;
}

.article{
    background: #FFFFFF /*0% 0% no-repeat padding-box*/;
    color: #707070;
    font-family: helvetica;
   border: 1px solid #868181;
   opacity: 1;
   width: 75%;
   height: 75%;
   overflow: auto;
   margin: auto;
   position: absolute;
   top: 0; left: 0; bottom: 0; right: 0;
   padding-top: 50px;
   padding-bottom: 50px;
}

.bodyPad{
    padding-top: 4rem;
}